<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Front_End.Properties.Settings.Holiday_Booking_System_NEWConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Holiday Booking System NEW.mdb&quot;;Jet OLEDB:Database Password=1234"
            providerName="System.Data.OleDb" />
        <add name="Front_End.Properties.Settings.PrimaryConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Primary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Front_End.Properties.Settings.PrimaryDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\PrimaryDB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>