<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Back_End.Properties.Settings.HolidayBookingSystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\HolidayBookingSystem.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.HolidayBookingSystemConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\HolidayBookingSystem.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.HolidayBookingSystemSecondaryConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\HolidayBookingSystemSecondary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.PrimaryConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Primary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.SecondaryConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Secondary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.PrimaryConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Primary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.SecondaryConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Secondary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.PrimaryConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Primary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.SecondaryConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Secondary.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.PrimaryDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\PrimaryDB.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.SecondaryDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\SecondaryDB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>