<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Back_End.Properties.Settings.Holiday_Booking_SystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Holiday Booking System.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.UsersConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Users.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.HolidayBookingSystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\HolidayBookingSystem.mdb"
            providerName="System.Data.OleDb" />
        <add name="Back_End.Properties.Settings.HolidayBookingSystemNEWConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\HolidayBookingSystemNEW.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>